<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" requirePermission="true" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" allowLocation="true" allowDefinition="Everywhere" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <log4net configSource="Log4Net.config" />
  <unity configSource="Unity.config"/>
</configuration>