<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OS.AutoScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OtterbineSolutions.AutoScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FourDSecurity.Emulation.ContropObserverEmulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FourDSecurity.Emulation.ContropObserverEmulation.Properties.ContropObservationCam" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FourDSecurity.Emulation.BazEmulation.Properties.CO30A" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FourDSecurity.Emulation.BazEmulation.Properties.CO30" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="MainWindow_model" value="AutoScannerViewModel"/>
  </appSettings>
  <userSettings>
        <OS.AutoScanner.Properties.Settings>
              <setting name="IPAddress" serializeAs="String">
                    <value>192.168.0.10</value>
              </setting>
              <setting name="IPPort" serializeAs="String">
                    <value>35000</value>
              </setting>
              <setting name="DeviceCount" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="EngineTimerInterval" serializeAs="String">
                    <value>75</value>
              </setting>
              <setting name="CommChannel" serializeAs="String">
                    <value />
              </setting>
              <setting name="UseIPSocket" serializeAs="String">
                    <value>False</value>
              </setting>
        </OS.AutoScanner.Properties.Settings>
        <OtterbineSolutions.AutoScanner.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EngineTimerInterval" serializeAs="String">
                <value>75</value>
            </setting>
        </OtterbineSolutions.AutoScanner.Properties.Settings>
        <FourDSecurity.Emulation.ContropObserverEmulation.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EngineTimerInterval" serializeAs="String">
                <value>75</value>
            </setting>
        </FourDSecurity.Emulation.ContropObserverEmulation.Properties.Settings>
        <FourDSecurity.Emulation.ContropObserverEmulation.Properties.ContropObservationCam>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EngineTimerInterval" serializeAs="String">
                <value>30</value>
            </setting>
        </FourDSecurity.Emulation.ContropObserverEmulation.Properties.ContropObservationCam>
        <FourDSecurity.Emulation.BazEmulation.Properties.CO30A>
            <setting name="LocalIPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteIPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EngineTimerInterval" serializeAs="String">
                <value>50</value>
            </setting>
        </FourDSecurity.Emulation.BazEmulation.Properties.CO30A>
        <FourDSecurity.Emulation.BazEmulation.Properties.CO30>
            <setting name="LocalIPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteIPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeviceCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EngineTimerInterval" serializeAs="String">
                <value>30</value>
            </setting>
        </FourDSecurity.Emulation.BazEmulation.Properties.CO30>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
