<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="log4net" requirePermission="true" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" allowLocation="true" allowDefinition="Everywhere" />
	  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="OS.AutoScannerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <log4net configSource="Log4Net.config" />
  <unity configSource="Unity.config" />
	<startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ViewWindowX" value="pack://application:,,,/OS.WPFView.PersonnelTracker;component/MainWindow.xaml" />
    <add key="ViewWindow" value="pack://application:,,,/OS.AutoScanner;component/Views/MainWindow.xaml" />
  </appSettings>
    <userSettings>
        <OS.AutoScannerApp.Properties.Settings>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArgumentUsageHelpString" serializeAs="String">
                <value>Command line usage - &lt;exe&gt; "&lt;xml&gt;"

DataExchangeControl.exe "&lt;StartupParameters&gt;
   &lt;StartupURI&gt;...&lt;/StartupURI&gt;
   &lt;UserName&gt;...&lt;/UserName&gt;
   &lt;Password&gt;...&lt;/Password&gt;
   &lt;ServerAddress&gt;...&lt;/ServerAddress&gt;
   &lt;Command&gt;[None|LogIn|RunTask|
       ImportFile|ExportFile|ConvertFile]
   &lt;/Command&gt;
   &lt;WindowMode&gt;[Full|Minimal]&lt;/WindowMode&gt;
&lt;/StartupParameters&gt;"</value>
            </setting>
        </OS.AutoScannerApp.Properties.Settings>
    </userSettings>
</configuration>