<log4net>

  <!-- Default log file -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[LOG START: %date]%newline" type="log4net.Util.PatternString" />
      <footer value="[LOG END: %date]%newline%newline" type="log4net.Util.PatternString" />
      <param name="ConversionPattern" value="%d [%-5p] [%thread] %c - %m%n" />
    </layout>
  </appender>

  <!-- Unity Log(dependency injection) -->
  <appender name="UnityFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\UnityLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="[LOG START: %date]%newline" type="log4net.Util.PatternString" />
      <footer value="[LOG END: %date]%newline%newline" type="log4net.Util.PatternString" />
      <param name="ConversionPattern" value="%d [%-5p] [%thread] %c - %m%n" />
    </layout>
  </appender>
  
  <!-- Console output -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <header value="[LOG START: %date]%newline" type="log4net.Util.PatternString" />
      <footer value="[LOG END: %date]%newline%newline" type="log4net.Util.PatternString" />
      <param name="ConversionPattern" value="%d [%-5p] %c - %m%n" />
    </layout>
  </appender>

  <!-- Default route for any loggers created in the application -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  
  <!-- Classes that will append to 'Unity' log only-->
  <logger additivity="false" name="OS.Unity.UnityResolver">
    <level value="DEBUG"/>
    <appender-ref ref="UnityFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </logger>
  
</log4net>

