<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <!-- INTERFACES / CONTRACTS (type) -->
  <alias alias="IAppViewModel" type="OS.WPF.IAppViewModel, OS.WPF" />

  <!-- IMPLEMENTATIONS (mapTo) -->
  <alias alias="Model_AutoScanner" type="OS.AutoScanner.Models.AutoScannerViewModel, OS.AutoScanner" />

  <!-- DI MAPPING ('name' is used to select the object from code) -->
  <container>
	  <register type="IAppViewModel" name="AutoScannerViewModel" mapTo="Model_AutoScanner"></register>
  </container>
  
</unity>
